<!--
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
-->

<mat-card fxFlex="1 1 auto" ngClass="app-card">

    <mat-card-header>
        <mat-icon mat-card-avatar>lock</mat-icon>
        <mat-card-title>Stand-by</mat-card-title>
        <mat-card-subtitle>Signing you into Bel</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content></mat-card-content>

    <p *ngIf="errorMessage | async">{{ errorMessage | async }}</p>

</mat-card>
