<!--
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
-->

<div fxFlex="1 1 auto" class="emailDispatchNotification" *ngIf="!shouldShowEmailCollectionForm">
    <div class="emailDispatchNotification_spinner">
        <mat-spinner></mat-spinner>
    </div>
    <div class="emailDispatchNotification_detail">
        <h3>Sending your sign-in code to {{email.value}}</h3>
    </div>
</div>

<mat-card fxFlex="1 1 auto" ngClass="app-card" *ngIf="shouldShowEmailCollectionForm">

    <mat-card-header>
        <mat-icon mat-card-avatar>lock</mat-icon>
        <mat-card-title>Sign In With Your Email</mat-card-title>
        <mat-card-subtitle>Please provide the email you wish to use to sign into to Bel and we will send you a one-time secret sign-in code</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="E-mail" [formControl]="email" type="email" email name="email"
                       autocomplete="username email" />
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <div fxFlex></div>
        <button mat-stroked-button color="primary" (click)="signIn()" [disabled]="(busy | async)">
            <div fxFlex></div>
            <div *ngIf="!(busy | async)">Send Sign-In Code</div>
            <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
            <div fxFlex></div>
        </button>
        <div fxFlex></div>
    </mat-card-actions>

    <p *ngIf="errorMessage | async">{{ errorMessage | async }}</p>

</mat-card>
